.surati1{
    width: 258px;
    height: 258px;
}
.surati2{
    width: 258px;
    height: 258px;
}
.surati3{
    width: 237.95px;
    height: 184.57px; 
}
.surati4{
    width: 323.9px;
    height: 148.38px;
}